In [10]:
print(  
"Author- Yashvi Patodi\n" 
"NLP Project-1\n" 
"Data Manipulation and Transformation Project\n"  
"This repository is a project focused on data manipulation and transformation techniques applied to a customer churn dataset. The project encompasses functionalities including efficient CSV file handling, in-depth exploration of data structures, and the execution of complex arithmetic, relational, and logical operations.\n"  
"Key tasks include handling missing values, creating new categorical features, and performing data filtering to extract meaningful insights.")

Author- Yashvi Patodi
NLP Project-1
Data Manipulation and Transformation Project
This repository is a project focused on data manipulation and transformation techniques applied to a customer churn dataset. The project encompasses functionalities including efficient CSV file handling, in-depth exploration of data structures, and the execution of complex arithmetic, relational, and logical operations.
Key tasks include handling missing values, creating new categorical features, and performing data filtering to extract meaningful insights.

In [ ]:
import pandas as pd
df= pd.read_csv('customer_churn.csv')
print(df.head())
print(df.tail())
print(df.info())
print(df.describe())

   customerID  gender  SeniorCitizen Partner Dependents  tenure PhoneService  \
0  7590-VHVEG  Female              0     Yes         No       1           No
1  5575-GNVDE    Male              0      No         No      34          Yes
2  3668-QPYBK    Male              0      No         No       2          Yes
3  7795-CFOCW    Male              0      No         No      45           No
4  9237-HQITU  Female              0      No         No       2          Yes

      MultipleLines InternetService OnlineSecurity  ... DeviceProtection  \
0  No phone service             DSL             No  ...               No
1                No             DSL            Yes  ...              Yes
2                No             DSL            Yes  ...               No
3  No phone service             DSL            Yes  ...              Yes
4                No     Fiber optic             No  ...               No

  TechSupport StreamingTV StreamingMovies        Contract PaperlessBilling  \
0          No          No              No  Month-to-month              Yes
1          No          No              No        One year               No
2          No          No              No  Month-to-month              Yes
3         Yes          No              No        One year               No
4          No          No              No  Month-to-month              Yes

               PaymentMethod MonthlyCharges  TotalCharges Churn
0           Electronic check          29.85         29.85    No
1               Mailed check          56.95        1889.5    No
2               Mailed check          53.85        108.15   Yes
3  Bank transfer (automatic)          42.30       1840.75    No
4           Electronic check          70.70        151.65   Yes

[5 rows x 21 columns]
      customerID  gender  SeniorCitizen Partner Dependents  tenure  \
7038  6840-RESVB    Male              0     Yes        Yes      24
7039  2234-XADUH  Female              0     Yes        Yes      72
7040  4801-JZAZL  Female              0     Yes        Yes      11
7041  8361-LTMKD    Male              1     Yes         No       4
7042  3186-AJIEK    Male              0      No         No      66

     PhoneService     MultipleLines InternetService OnlineSecurity  ...  \
7038          Yes               Yes             DSL            Yes  ...
7039          Yes               Yes     Fiber optic             No  ...
7040           No  No phone service             DSL            Yes  ...
7041          Yes               Yes     Fiber optic             No  ...
7042          Yes                No     Fiber optic            Yes  ...

     DeviceProtection TechSupport StreamingTV StreamingMovies        Contract  \
7038              Yes         Yes         Yes             Yes        One year
7039              Yes          No         Yes             Yes        One year
7040               No          No          No              No  Month-to-month
7041               No          No          No              No  Month-to-month
7042              Yes         Yes         Yes             Yes        Two year

     PaperlessBilling              PaymentMethod MonthlyCharges  TotalCharges  \
7038              Yes               Mailed check          84.80        1990.5
7039              Yes    Credit card (automatic)         103.20        7362.9
7040              Yes           Electronic check          29.60        346.45
7041              Yes               Mailed check          74.40         306.6
7042              Yes  Bank transfer (automatic)         105.65        6844.5

     Churn
7038    No
7039    No
7040    No
7041   Yes
7042    No

[5 rows x 21 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB
None
       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

In [ ]:
df= pd.read_csv('customer_churn.csv')
df_sorted= df.sort_values(by='tenure', ascending=False)
print(df_sorted.head())
df_sorted= df.sort_values(by='tenure', ascending=True)
print(df_sorted.head())

      customerID  gender  SeniorCitizen Partner Dependents  tenure  \
1672  4737-AQCPU    Male              0     Yes        Yes      72
193   9680-NIAUV  Female              0     Yes        Yes      72
4553  5914-XRFQB    Male              0     Yes         No      72
483   5168-MQQCA  Female              0     Yes         No      72
3266  0464-WJTKO  Female              0     Yes        Yes      72

     PhoneService MultipleLines InternetService       OnlineSecurity  ...  \
1672          Yes           Yes             DSL                  Yes  ...
193           Yes           Yes     Fiber optic                  Yes  ...
4553          Yes           Yes     Fiber optic                  Yes  ...
483           Yes           Yes     Fiber optic                   No  ...
3266          Yes            No              No  No internet service  ...

         DeviceProtection          TechSupport          StreamingTV  \
1672                  Yes                  Yes                   No
193                   Yes                   No                  Yes
4553                  Yes                  Yes                  Yes
483                   Yes                  Yes                  Yes
3266  No internet service  No internet service  No internet service

          StreamingMovies  Contract PaperlessBilling  \
1672                   No  Two year               No
193                   Yes  Two year               No
4553                  Yes  Two year              Yes
483                   Yes  One year              Yes
3266  No internet service  Two year               No

                  PaymentMethod MonthlyCharges  TotalCharges Churn
1672    Credit card (automatic)           72.1       5016.65    No
193     Credit card (automatic)          109.7        8129.3    No
4553  Bank transfer (automatic)          115.8        8424.9    No
483   Bank transfer (automatic)          108.5        8003.8    No
3266  Bank transfer (automatic)           20.1       1460.85    No

[5 rows x 21 columns]
      customerID  gender  SeniorCitizen Partner Dependents  tenure  \
1340  1371-DWPAZ  Female              0     Yes        Yes       0
936   5709-LVOEQ  Female              0     Yes        Yes       0
6670  4075-WKNIU  Female              0     Yes        Yes       0
4380  2520-SGTTA  Female              0     Yes        Yes       0
5218  2923-ARZLG    Male              0     Yes        Yes       0

     PhoneService     MultipleLines InternetService       OnlineSecurity  ...  \
1340           No  No phone service             DSL                  Yes  ...
936           Yes                No             DSL                  Yes  ...
6670          Yes               Yes             DSL                   No  ...
4380          Yes                No              No  No internet service  ...
5218          Yes                No              No  No internet service  ...

         DeviceProtection          TechSupport          StreamingTV  \
1340                  Yes                  Yes                  Yes
936                   Yes                   No                  Yes
6670                  Yes                  Yes                  Yes
4380  No internet service  No internet service  No internet service
5218  No internet service  No internet service  No internet service

          StreamingMovies  Contract PaperlessBilling            PaymentMethod  \
1340                   No  Two year               No  Credit card (automatic)
936                   Yes  Two year               No             Mailed check
6670                   No  Two year               No             Mailed check
4380  No internet service  Two year               No             Mailed check
5218  No internet service  One year              Yes             Mailed check

     MonthlyCharges  TotalCharges Churn
1340          56.05                  No
936           80.85                  No
6670          73.35                  No
4380          20.00                  No
5218          19.70                  No

[5 rows x 21 columns]

In [ ]:
df= pd.read_csv('customer_churn.csv')
df['SeniorCitizen']= df['SeniorCitizen']. map({1:'Yes', 0: 'No'})
print(df[['SeniorCitizen']].head)

<bound method NDFrame.head of      SeniorCitizen
0               No
1               No
2               No
3               No
4               No
...            ...
7038            No
7039            No
7040            No
7041           Yes
7042            No

[7043 rows x 1 columns]>

In [ ]:
df= pd.read_csv('customer_churn.csv')
df['MonthlyChargePerYear']= df['MonthlyCharges']*12
print(df[['MonthlyCharges', 'MonthlyChargePerYear']].head())

   MonthlyCharges  MonthlyChargePerYear
0           29.85                 358.2
1           56.95                 683.4
2           53.85                 646.2
3           42.30                 507.6
4           70.70                 848.4

In [ ]:
df= pd.read_csv('customer_churn.csv')
df['MonthlyChargePerYear']= df['tenure']*12
print(df[['MonthlyCharges', 'MonthlyChargePerYear']].head())

   MonthlyCharges  MonthlyChargePerYear
0           29.85                    12
1           56.95                   408
2           53.85                    24
3           42.30                   540
4           70.70                    24

In [ ]:
df= pd.read_csv('customer_churn.csv')
df_subset=df[df['tenure']>24]
print(df_subset.head())
df_churned= df[df['Churn']=='Yes']
print(df_churned.head())

    customerID  gender  SeniorCitizen Partner Dependents  tenure PhoneService  \
1   5575-GNVDE    Male              0      No         No      34          Yes
3   7795-CFOCW    Male              0      No         No      45           No
8   7892-POOKP  Female              0     Yes         No      28          Yes
9   6388-TABGU    Male              0      No        Yes      62          Yes
12  8091-TTVAX    Male              0     Yes         No      58          Yes

       MultipleLines InternetService OnlineSecurity  ... DeviceProtection  \
1                 No             DSL            Yes  ...              Yes
3   No phone service             DSL            Yes  ...              Yes
8                Yes     Fiber optic             No  ...              Yes
9                 No             DSL            Yes  ...               No
12               Yes     Fiber optic             No  ...              Yes

   TechSupport StreamingTV StreamingMovies        Contract PaperlessBilling  \
1           No          No              No        One year               No
3          Yes          No              No        One year               No
8          Yes         Yes             Yes  Month-to-month              Yes
9           No          No              No        One year               No
12          No         Yes             Yes        One year               No

                PaymentMethod MonthlyCharges  TotalCharges Churn
1                Mailed check          56.95        1889.5    No
3   Bank transfer (automatic)          42.30       1840.75    No
8            Electronic check         104.80       3046.05   Yes
9   Bank transfer (automatic)          56.15       3487.95    No
12    Credit card (automatic)         100.35        5681.1    No

[5 rows x 21 columns]
    customerID  gender  SeniorCitizen Partner Dependents  tenure PhoneService  \
2   3668-QPYBK    Male              0      No         No       2          Yes
4   9237-HQITU  Female              0      No         No       2          Yes
5   9305-CDSKC  Female              0      No         No       8          Yes
8   7892-POOKP  Female              0     Yes         No      28          Yes
13  0280-XJGEX    Male              0      No         No      49          Yes

   MultipleLines InternetService OnlineSecurity  ... DeviceProtection  \
2             No             DSL            Yes  ...               No
4             No     Fiber optic             No  ...               No
5            Yes     Fiber optic             No  ...              Yes
8            Yes     Fiber optic             No  ...              Yes
13           Yes     Fiber optic             No  ...              Yes

   TechSupport StreamingTV StreamingMovies        Contract PaperlessBilling  \
2           No          No              No  Month-to-month              Yes
4           No          No              No  Month-to-month              Yes
5           No         Yes             Yes  Month-to-month              Yes
8          Yes         Yes             Yes  Month-to-month              Yes
13          No         Yes             Yes  Month-to-month              Yes

                PaymentMethod MonthlyCharges  TotalCharges Churn
2                Mailed check          53.85        108.15   Yes
4            Electronic check          70.70        151.65   Yes
5            Electronic check          99.65         820.5   Yes
8            Electronic check         104.80       3046.05   Yes
13  Bank transfer (automatic)         103.70        5036.3   Yes

[5 rows x 21 columns]

In [ ]:
df_agg= df.groupby('Contract').agg({'MonthlyCharges':'mean'})
print(df_agg)

                MonthlyCharges
Contract
Month-to-month       66.398490
One year             65.048608
Two year             60.770413

In [ ]:
df_agg_internet_service= df[df['Churn']=='Yes'].groupby('InternetService').size()
print(df_agg_internet_service)

InternetService
DSL             459
Fiber optic    1297
No              113
dtype: int64

In [ ]:
df.at[4,'MonthlyCharges']+=5
print(df.loc[4,'MonthlyCharges'])

75.7

In [ ]:
df.at[5,'MonthlyCharges']-=9.65
print(df.loc[5,'MonthlyCharges'])

90.0

In [ ]:
df.at[0,'MonthlyCharges']*=3
print(df.loc[0,'MonthlyCharges'])

89.55000000000001

In [ ]:
df.at[36,'MonthlyCharges']/=3
print(df.loc[36,'MonthlyCharges'])

23.233333333333334

In [ ]:
tenure_greater= df.at[0,'tenure']> df.at[9,'tenure']
print(tenure_greater)

False

In [ ]:
tenure_greater= df.at[2,'tenure']== df.at[4,'tenure']
print(tenure_greater)

True

In [ ]:
both_services_count= df[(df['TechSupport']=='Yes') & (df['StreamingTV']=='Yes')].shape[0]
print(both_services_count)

1218

In [ ]:
internet_dsl_fiber= df[(df['InternetService']== 'DSL') | (df['InternetService']=='Fiber optic')].shape[0]
print(internet_dsl_fiber)

5517

In [ ]:
df['SeniorCitizen']= df['SeniorCitizen']. map({1:'Yes', 0: 'No'})
senior_male_electronic= df[(df['PaymentMethod']== 'Electronic check') & (df['gender']== 'Male') &(df['SeniorCitizen']== 'Yes') ].shape[0]
print(senior_male_electronic)

298

In [ ]:
missing_values_count= df.isnull().sum()
print(missing_values_count)

missing_values_count= df.isnull().sum().sum()
print(missing_values_count)

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64
0

In [ ]:
df= pd.read_csv('customer_churn.csv')
missing_values_count= df.isnull().sum()
print(missing_values_count)

missing_values_count= df.isnull().sum().sum()
print(missing_values_count)

customerID          0
gender              1
SeniorCitizen       3
Partner             2
Dependents          5
tenure              2
PhoneService        1
MultipleLines       3
InternetService     3
OnlineSecurity      1
OnlineBackup        3
DeviceProtection    2
TechSupport         0
StreamingTV         3
StreamingMovies     1
Contract            1
PaperlessBilling    1
PaymentMethod       4
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64
36

In [ ]:
dsl_tenure_above_48= df[(df['InternetService']== 'DSL') & (df['tenure']>45)]
print(dsl_tenure_above_48.head())

    customerID  gender  SeniorCitizen Partner Dependents  tenure PhoneService  \
9   6388-TABGU    Male            0.0      No        Yes    62.0          Yes
23  3638-WEABW  Female            0.0     Yes         No    58.0          Yes
24  6322-HRPFA    Male            0.0     Yes        Yes    49.0          Yes
28  5248-YGIJN    Male            0.0     Yes         No    72.0          Yes
43  4671-VJLCL  Female            0.0      No         No    63.0          Yes

   MultipleLines InternetService OnlineSecurity  ... DeviceProtection  \
9             No             DSL            Yes  ...               No
23           Yes             DSL             No  ...               No
24            No             DSL            Yes  ...               No
28           Yes             DSL            Yes  ...              Yes
43           NaN             DSL            Yes  ...              Yes

   TechSupport StreamingTV StreamingMovies        Contract PaperlessBilling  \
9           No         NaN              No        One year               No
23         Yes          No              No        Two year              Yes
24         Yes          No              No  Month-to-month               No
28         Yes         Yes             Yes        Two year              Yes
43         Yes         Yes              No        Two year              Yes

                PaymentMethod MonthlyCharges  TotalCharges Churn
9   Bank transfer (automatic)          56.15       3487.95    No
23    Credit card (automatic)          59.90        3505.1    No
24                        NaN          59.60        2970.3    No
28    Credit card (automatic)          90.25       6369.45    No
43    Credit card (automatic)          79.85       4861.45    No

[5 rows x 21 columns]

In [ ]:
max_tenure= df['tenure'].max()
print(max_tenure)

72.0

In [ ]:
import pandas as pd
df= pd.read_csv('customer_churn.csv')
df.loc[(df['tenure'] > 0) & (df['tenure'] <= 25), 'Tenure_Grade'] = 'Low'
df.loc[(df['tenure'] > 25) & (df['tenure'] <= 50), 'Tenure_Grade'] = 'Medium'
df.loc[(df['tenure'] > 50) & (df['tenure'] <= 100), 'Tenure_Grade'] = 'High'
print(df[['tenure', 'Tenure_Grade']].head())
df.to_csv('customer_churn_updated.csv')

   tenure Tenure_Grade
0       1          Low
1      34       Medium
2       2          Low
3      45       Medium
4       2          Low

In [ ]:
df['Tenure_Grade'] = df['tenure'].apply(
    lambda x: 'High' if x > 50 else 'Medium' if x > 25 else 'Low'
)
print(df)

      customerID  gender  SeniorCitizen Partner Dependents  tenure  \
0     7590-VHVEG  Female              0     Yes         No       1
1     5575-GNVDE    Male              0      No         No      34
2     3668-QPYBK    Male              0      No         No       2
3     7795-CFOCW    Male              0      No         No      45
4     9237-HQITU  Female              0      No         No       2
...          ...     ...            ...     ...        ...     ...
7038  6840-RESVB    Male              0     Yes        Yes      24
7039  2234-XADUH  Female              0     Yes        Yes      72
7040  4801-JZAZL  Female              0     Yes        Yes      11
7041  8361-LTMKD    Male              1     Yes         No       4
7042  3186-AJIEK    Male              0      No         No      66

     PhoneService     MultipleLines InternetService OnlineSecurity  ...  \
0              No  No phone service             DSL             No  ...
1             Yes                No             DSL            Yes  ...
2             Yes                No             DSL            Yes  ...
3              No  No phone service             DSL            Yes  ...
4             Yes                No     Fiber optic             No  ...
...           ...               ...             ...            ...  ...
7038          Yes               Yes             DSL            Yes  ...
7039          Yes               Yes     Fiber optic             No  ...
7040           No  No phone service             DSL            Yes  ...
7041          Yes               Yes     Fiber optic             No  ...
7042          Yes                No     Fiber optic            Yes  ...

     TechSupport StreamingTV StreamingMovies        Contract PaperlessBilling  \
0             No          No              No  Month-to-month              Yes
1             No          No              No        One year               No
2             No          No              No  Month-to-month              Yes
3            Yes          No              No        One year               No
4             No          No              No  Month-to-month              Yes
...          ...         ...             ...             ...              ...
7038         Yes         Yes             Yes        One year              Yes
7039          No         Yes             Yes        One year              Yes
7040          No          No              No  Month-to-month              Yes
7041          No          No              No  Month-to-month              Yes
7042         Yes         Yes             Yes        Two year              Yes

                  PaymentMethod MonthlyCharges TotalCharges  Churn  \
0              Electronic check          29.85        29.85     No
1                  Mailed check          56.95       1889.5     No
2                  Mailed check          53.85       108.15    Yes
3     Bank transfer (automatic)          42.30      1840.75     No
4              Electronic check          70.70       151.65    Yes
...                         ...            ...          ...    ...
7038               Mailed check          84.80       1990.5     No
7039    Credit card (automatic)         103.20       7362.9     No
7040           Electronic check          29.60       346.45     No
7041               Mailed check          74.40        306.6    Yes
7042  Bank transfer (automatic)         105.65       6844.5     No

     Tenure_Grade
0             Low
1          Medium
2             Low
3          Medium
4             Low
...           ...
7038          Low
7039         High
7040          Low
7041          Low
7042         High

[7043 rows x 22 columns]